{% extends "base.html" %}
{% block head %}
<meta name="keywords" content="{{ article.tags|join(', ')  }}">
{% endblock %}

{% block title %}&ndash; {{ article.title }}{% endblock %}

{% block content %}
<article class="margin">
  <div class="header">
    <span class="date" lang="en">{{ article.locale_date }}</span>
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
  </div>
  <div class="content">
    {{ article.content }}
  </div>
  <div class="article_meta">
    <p>{{ SRDN_CATEGORY_TEXT }} <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      {% if article.tags %}
      &ndash; {{ SRDN_TAG_TEXT }}
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    </p>
  </div>

  {% if SRDN_DISQUS_SITENAME %}
    {% if article.comment is equalto 'false' %}
    <h2>Comment are disabled</h2>
    {% else %}
    <div id="article_comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_identifier = "{{ article.url }}";
          (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{ SRDN_DISQUS_SITENAME }}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
      </script>
    </div>
    {% endif %}
  {% endif %}

</article>
{% endblock %}
