{% extends "base.html" %}

{% block content %}

{% for article in articles_page.object_list %}
{% if output_file is equalto 'index.html' %}
<article class="margin">
{% else %}
<article>
{% endif %}
  <div class="header">
    <span class="date" lang="en">{{ article.locale_date }}</span>
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
  </div>
  <div class="content">
    {% if output_file is equalto 'index.html' %}
    {{ article.content }}
    {% endif %}
  </div>
</article>
{% endfor %}

{% include "modules/pagination.html" %}

{% endblock %}
