:lang(ar) 	{
  font-family: "KacstOneRegular", sans-serif;
}

html, body {
  direction: rtl;
   font-weight: normal;
   font-family: "KacstOneRegular", sans-serif;
   font-style: normal;
}

header > .content > .logo {
  float: right;
  margin: -0.7em 0 0 0.7em;
}

.wrapper > main {
  float: left;
}

.wrapper > aside {
  float: right;
}
