html, body {
  direction: rtl;
  font-family: 'XBRiyazRegular';
   font-weight: normal;
   font-style: normal; 
}

header > .content > .logo {
  float: right;
  margin: -0.7em 0 0 0.7em;
}

.wrapper > main {
  float: left;
}

.wrapper > aside {
  float: right;
}
