* {
  margin: 0;
  padding: 0;
}

:lang(en) 	{
  font-family: "Open Sans", serif;
}

body {
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #313131;
}

a {
  color: #57a3e8;
  text-decoration: none;
  transition: color ease 0.2s;
}

a:hover {
  color: #222222;
}

/* header */
header {
  margin: 10px 0 20px 0;
}

header > .content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

header > .content > .logo {
  text-decoration: none;
  float: left;
  margin: -0.7em 0.7em 0 0;
}

header > .content > .logo > img {
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 15px;
}

header > .content > h1 {
  margin: 0;
  font-weight: normal;
  margin-bottom: -5px;
  font-size: 1.8em;
}

header > .content > h1 > a {
  text-decoration: none;
  color: #313131;
}

header > .content > h1 > a:hover {
  text-decoration: none;
}

header > .content > h2 {
  margin: 0;
  font-weight: normal;
  font-size: 0.9em;
  color: #313131;
}


/* body */
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 3em;
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.wrapper > main {
  width: 70%;
  float: right;
  margin-top: -2em;
}

.wrapper > aside {
  width: 25%;
  float: left;
  margin-top: 30px;
  font-size: 0.9em;
  line-height: 1.6em;
}

.wrapper > aside > h1 {
  margin: 0;
  font-size: 1.3em;
}

.wrapper > aside > ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.wrapper > aside > .msg {
  color: #696868;
  font-size: 0.8em;
  text-align: justify;
  margin: 40px 0 0 0;
  line-height: 1.4em;
}

.wrapper > aside > footer {
  color: #bbc7cc;
  font-size: 0.7em;
  text-align: justify;
  margin: 40px 0 0 0;
  line-height: 1.5em;
}

.wrapper > aside > footer a {
  color: #AAB6BB;
  font-weight: bold;
}

.wrapper > aside > footer a:hover {
  color: #50585D;
}

.wrapper > aside > footer img {
  height: 1.1em;
  width: 1.1em;
}

/* articale */
main > article {
  margin: 1em 0 0 0;
}

main > .margin {
  margin: 4em 0 0 0;
}

.margin > .header {
  margin: 0 0 1.0em 0;
}

article > .header > .date {
  font-size: 0.8em;
  color: #9eabb3;
}

article > .header > h2 {
  margin: -0.3em 0 0 0;
  font-size: 2.1em;
}

article > .header > h2 > a {
  text-decoration: none;
  color: #222222;
}

article > .content {
  margin-top: 1.5em;
}

/* paginator */
.paginator {
  text-align: center;
  font-size: 0.8em;
  color: #696868;
  margin: 5em auto 0 auto;
  position: relative;
}

.paginator a {
  color: #313131;
}

.paginator > .detals {

}

.paginator > .older {
  left: 0;
  position: absolute;
  display: inline-block;
}

.paginator > .newer {
  right: 0;
  position: absolute;
  display: inline-block;
}
