:lang(ar) 	{
  font-family: "KacstOneRegular", sans-serif;
}

html, body {
  direction: rtl;
   font-weight: normal;
   font-family: "KacstOneRegular", sans-serif;
   font-style: normal;
}

header > .content > .logo {
  float: right;
  margin: -0.7em 0 0 0.7em;
}

header > .content > h1 {
  font-size: 2.2em;
}

header > .content > h2 {
  font-size: 1.1em;
}

.wrapper > aside > footer a[lang='en'] {
    font-size: 0.85em;
}

.wrapper > main {
  float: left;
}

.wrapper > aside {
  float: right;
}
