* {
  margin: 0;
  padding: 0;
}

:lang(en) 	{
  font-family: "Open Sans", serif;
}

body {
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #313131;
}

/* HTML Tags */
a {
  color: #57a3e8;
  text-decoration: none;
  transition: color ease 0.2s;
}

a:hover {
  color: #222222;
}

img {
  max-width: 100%;
  margin: 1em 0 1em 0;
}

table {
  max-width: 100%;
  margin: 1em 0 1em 0;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid black;
  padding: 0.5em;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  background: #F1F5F7;
  border-left: solid 0.2em #20ABEA;
  padding: 1em;
  border-radius: 4px;
}

dd {
  display: block;
  margin-left: 40px;
  font-size: 0.9em;
}

dt {
  display: block;
  font-weight: bold;
  font-style: italic;
}

pre {
  display: block;
  font-family: 'Source Code Pro', Courier !important;
  white-space: pre;
  margin: 1em 0;
  overflow-x: scroll;
  background: #444444;
  color: #cccccc;
  padding: 1em;
  direction: ltr;
  font-size: 0.7em;
}

p {
  margin: 1em 0;
}

sub {
  font-size: 0.6em;
}

sup {
  font-size: 0.6em;
}

tt {
  padding: 0.4em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0;
  font-size: 85%;
  background-color: #888888;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-family: monospace !important;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
}

kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

ul {
  margin: 0.5em 0 0.5em 1.5em;
}

ol {
  margin: 0.5em 0 0.5em 1.5em
}

li > ul {
  margin: 0 0 0 1.5em;
}

li > ol {
  margin: 0 0 0 1.5em;
}

/* text align */
.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}
.justify {text-align: justify;}

/* header */
header > .content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

header > .content > .logo {
  text-decoration: none;
  float: left;
  margin: -1.8em 0.7em 0 0;
}

header > .content > .logo > img {
  height: 100px;
  display: block;
  border-radius: 15px;
}

header > .content > h1 {
  margin: 0;
  font-weight: normal;
  margin-bottom: -5px;
  font-size: 1.8em;
}

header > .content > h1 > a {
  text-decoration: none;
  color: #313131;
  font-weight: bold;
}

header > .content > h1 > a:hover {
  text-decoration: none;
}

header > .content > h2 {
  margin: 0;
  font-weight: normal;
  font-size: 0.9em;
  color: #A0ADB5;
}

.search {
  float: right;;
  margin: -3.7em 0 0 0;
}

#tipue_search_input {
  font: 13px/1.6 'open sans', sans-serif;
  color: #333;
  padding: 1.5px 12px 4px 20px;
  width: 170px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: 0;
  margin: 0;
  background: none;
}

.search button {
  padding: 5px 27px;
  min-width: 13px;
  border-color: #222;
  background-color: #222;
  color: #ffffff;
  border: 1px solid #666;
  border-radius: 2px;
}

@media only screen and (max-width: 880px) {
  .search {
    float: none;
    margin: 1em 0 0 0;
  }

  #tipue_search_input {
    padding: 11.5px 12px 13px 20px;
    background: #fff url('../tipuesearch/img/search.png') no-repeat 15px 15px;
  }

  .search button {
    display: none;
  }
}

/* body */
.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 3em;
}

.clearfix::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.wrapper > main {
  width: 70%;
  float: right;
  margin-top: -1.0em;
}

.wrapper > main  * {
  max-width: 100%;
}

.wrapper > aside {
  width: 25%;
  float: left;
  font-size: 0.8em;
  line-height: 1.6em;
}

.wrapper > aside > h1 {
  margin: 0;
  font-size: 1.3em;
  margin-bottom: 0.2em;
  color: #4a4a4a;
}

.wrapper > aside > ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1.5em 0;
}

.wrapper > aside > .msg {
  color: #696868;
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.4em;
}

.wrapper > aside > footer {
  color: #bbc7cc;
  font-size: 0.8em;
  text-align: justify;
  margin-top: 2em;
  line-height: 1.6em;
}

.wrapper > aside > footer a {
  color: #AAB6BB;
  font-weight: bold;
}

.wrapper > aside > footer a:hover {
  color: #50585D;
}

.wrapper > aside > footer img {
  height: 1.1em;
  width: 1.1em;
}

@media only screen and (max-width: 880px) {
  .wrapper > main {
    width: auto;
    float: none;
    margin-top: 1em;
  }

  .wrapper > aside {
    width: auto;
    float: none;
    margin-top: 2em;
    font-size: 1.2em;
  }
}

/* articale */
main > article {
  margin: 1em 0 0 0;
  display: block;
}

main > .margin {
  margin: 0 0 5em 0;
}

main > .lastupdate {
	font-size: 0.7em;
	color: #bbc7cc;
	background: #fff;
	border: rgba(170, 182, 187, 0.47) 1px solid;
	border-radius: 4px;
	padding: 0.7em;
}

.margin > .header {
  margin: 0 0 1.0em 0;
}

article > .header > .date {
  font-size: 0.8em;
  color: #9eabb3;
}

article > .header > h2 {
  font-size: 2.1em;
  line-height: 0.7em;
  letter-spacing: -1px;
  text-indent: -2px;
}

article > .header > h2 > a {
  text-decoration: none;
  color: #222222;
  line-height: 1em;
}

article > .content {
  margin-top: -0.5em;
  display: inline-block;
  width: 100%;
}

.article_meta {
  margin-top: 3em;
  font-size: 0.7em;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}

.articale-neighbors {
  padding: 1em 0 2em 0;
}

.articale-neighbors > .next {
  float: right;
}

.articale-neighbors > .previous {
  float: left;
}

.articale-neighbors .label {
  font-size: 0.8em;
  color: #9EABB3;
  text-transform: uppercase;
}

.articale-neighbors .link {
  color: #000000;
}

.articale-neighbors .link:hover {
  color: #000000;
}

.comments_disabled {
  text-align: center;
  margin-top: 3em;
  font-size: 0.9em;
  color: #A0ADB5;
}

#article_comments {
  border-top: #EBF2F6 1px solid;
  margin-top: 2em;
  padding-top: 2em;
}

.youtube > iframe {
  width: 100%;
  height: 480px;
}

/* paginator */
.paginator {
  text-align: center;
  font-size: 0.8em;
  color: #696868;
  margin: 5em auto 0 auto;
  position: relative;
}

.paginator a {
  color: #313131;
}

.paginator > .detals {

}

.paginator > .older {
  left: 0;
  position: absolute;
  display: inline-block;
}

.paginator > .newer {
  right: 0;
  position: absolute;
  display: inline-block;
}

/* social */
.social {

}

.social > .item {
  width: 15%;
  float: left;
  padding: 1em;
}

@media only screen and (max-width: 880px) {
  .social {
    padding: 1em;
  }

  .social > .item {
    width: 30%;
    padding: 1em 0;
  }
}

/* Lightbox Plugin */
.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox-block img {
	max-width: 50%;
    border-radius: 5px;
}

.lightbox img {
	max-width: 98%;
	max-height: 90%;
	margin-top: 2%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.lightbox:target {
	outline: none;
	display: block;
}

