:lang(ar) 	{
  font-family: "KacstOneRegular", sans-serif;
}

html, body {
  direction: rtl;
  font-weight: normal;
  font-family: "KacstOneRegular", sans-serif;
  font-style: normal;
}

header > .content > .logo {
  float: right;
  margin: -1.4em 0 0 0.7em;
}

header > .content > h1 {
  font-size: 2.2em;
}

header > .content > h2 {
  font-size: 1.1em;
}

.search {
  float: left;
}

.wrapper > aside > footer a[lang='en'] {
  font-size: 0.85em;
}

.wrapper > main {
  float: left;
}

.wrapper > aside {
  float: right;
}

@media only screen and (max-width: 880px) {
  .wrapper > main {
    float: none;
  }

  .wrapper > aside {
    float: none;
  }
}

blockquote {
  border-left: solid 0;
  border-right: solid 0.2em #20ABEA;
}

ul {
    margin: 0.5em 1.5em 0.5em 0;
}

/* social */
.social > .item {
  float: right;;
}
