<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">

  {% if SITE_DIRECTION is equalto 'rtl' %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/rtl.css">
  <link rel="stylesheet" href="https://fontlibrary.org/face/xb-riyaz" type="text/css"/>
  {% endif %}

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="Posts and writings by {{ AUTHOR }}">

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS" />
  {% endif %}

  {% block head %}{% endblock %}

  <title>
    {{ SITENAME }}
    {% block title %}{% endblock %}
  </title>

</head>

<body>

  <header>
    <div class="content">
      <a href="{{ SITEURL }}" class="logo"><img src="{{ SITEURL }}/theme/images/logo.jpeg" alt="{{ SITENAME }}"></a>
      <h1 class="title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
      <h2 class="sub-title">{{ TAGLINE }}</h2>
    </div>
  </header>

  <div class="wrapper clearfix">
    <div class="clearfix"></div>
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <aside>

      {% if DISPLAY_PAGES_ON_MENU %}
      {% if pages %}
      {% if P_SIDE_TITLE_PAGES %}
      <h1>{{ P_SIDE_TITLE_PAGES }}</h1>
      {% endif %}
      <ul>
        {% for page in pages %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endif %}

      {% if MENUITEM %}
      {% if P_SIDE_TITLE_MENUITEM %}
      <h1>{{ P_SIDE_TITLE_MENUITEM }}</h1>
      {% endif %}
      <ul>
        {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if LINKS %}
      {% if P_SIDE_TITLE_LINKS %}
      <h1>{{ P_SIDE_TITLE_LINKS }}</h1>
      {% endif %}
      <ul>
        {% for name, link in LINKS %}
        <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if SOCIAL %}
      {% if P_SIDE_TITLE_SOCIAL %}
      <h1>{{ P_SIDE_TITLE_SOCIAL }}</h1>
      {% endif %}
      <ul>
        {% for name, link in SOCIAL %}
        <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <p class="msg">
        {{ P_SIDE_MSG }}
      </p>

      <footer class="footer">
        © Giulio Fidente. Built using Pelican. Theme by Giulio Fidente on github. Member of the Internet Defense League.
      </footer>
    </aside>

  </div>

</body>
</html>
