{% extends "base.html" %}

{% block content %}

{% for article in articles_page.object_list %}
<article>
  <div class="header">
    <span class="date">{{ article.date|strftime('%d %B %Y') }}</span>
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {{ SITEURL }}</a></h2>
  </div>
  <div class="content">
    {% if output_file is equalto 'index.html' %}
    {{ article.content }}
    {% endif %}
  </div>
</article>
{% endfor %}

{% include "modules/pagination.html" %}

{% endblock %}
